<!-- Send Message pop-up form -->
<div class="modal fade" id="SendMessageModal" role="dialog">
  <div class="modal-dialog" style="margin:auto;">

    <!-- Content-->
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header modal-input">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sending Message</h4>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <form name="sendMessageForm">
        <!-- Topic -->
          <div class="form-group">
            <label for="meslink" class="control-label">Topic:</label>
            <input type="text" class="form-control" id="meslink" placeholder="Subscribe.." ng-model="meslink" name="meslink" required>
          </div>
        <!-- Message -->
          <div class="form-group">
            <label for="messagetext" class="control-label">Message:</label>
            <textarea class="form-control" id="messagetext" ng-model="messagetext" name="messagetext" required></textarea>
          </div>
        </form>
      </div>
      <!-- Footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="sendmessage.sendMessage()" ng-disabled=" !sendMessageForm.$valid" data-dismiss="modal" style="margin:0;">Send</button>
      </div>
    </div>

  </div>
</div>