<!-- Subscribe pop-up form -->
<div class="modal fade" id="SubscribeModal" role="dialog">
  <div class="modal-dialog" style="margin:auto;">

    <!-- Content -->
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header modal-input">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Subscription</h4>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <form name="subscribeForm">
          <div class="form-group">
            <label for="link" class="control-label">Topics:</label>
            <input type="text" id="link" class="form-control" placeholder="Subscribe.." ng-model="link" name="link" pattern="/[^\s]*/[^\s]*/*" size="50" required>
          </div>
        </form>
      </div>
      <!-- Footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="subscription.unsubscribe()" ng-disabled="!subscribeForm.link.$valid" data-dismiss="modal" style="margin:0;">Unsubscribe</button>
          <button type="button" class="btn btn-primary" ng-click="subscription.subscribe()" ng-disabled=" !subscribeForm.$valid" data-dismiss="modal" style="margin:0;">Subscribe</button>
      </div>
    </div>

  </div>
</div>